    body {
        font-family: 'Lato', sans-serif;
        background-image: url(cat-svgrepo-com.svg);
        background-color: #1E1E1E;
        padding: 0%;
        margin: 0;
    }

    header {
        background-color: #1E1E1E;
        box-shadow: -1px 2px 11px 9px #1E1E1E;
    }

    p {
        font-size: 20px;
    }

    .hd_btn {
        padding-inline: 3%;
    } 

    #buttons_header {
        padding: 1%;
        display: flex;
        justify-content: center;
    }

    input[type="button"] {
        background-color: #1e1e1e;
        color: white;
        padding-inline: 1%;
        border: none;
        font-weight: bold;
        transition: color 0.5s;
    }
    input[type="button"]:focus {
        color: #a49fbe;
    }

    .hd_btn input[type="button"]+label {
        position: relative;
    }

    .hd_btn input[type="button"]+label:before {
        content: "";
        width: 0px;
        height: 3px;
        background: #a49fbe;
        position: absolute;
        top: 0.2em;
        transition: width 0.5s ease-in-out;
    }

    .hd_btn #btn_1:hover+label:before {
        width: 37px;
    }

    .hd_btn #btn_2:hover+label:before {
        width: 74px;
    }

    .hd_btn #btn_3:hover+label:before {
        width: 58px;
    }

    .hd_btn #btn_1:focus+label:before {
        width: 37px;
    }

    .hd_btn #btn_2:focus+label:before {
        width: 74px;
    }

    .hd_btn #btn_3:focus+label:before {
        width: 58px;
    }

    footer {
        height: 30vh;
        background: #1E1E1E;
    }

    #__line {
        height: 5px;
        background-color: #6688b7;
        animation: headerLine 3s linear;
    }

    #__line1 {
        height: 5px;
        background-color: #233a80;
        animation: headerLine 3.5s linear;
    }

    .check {
        margin: 5% 2% 45% 2%;
        padding: 0.5% 2% 2% 2%;
        background-color:#2e2e2e;
        border-radius: 30px;
        transition: background-color 0.5s;
        font-weight: bold;
    }
    .check:hover {
        background-color:#a49fbe;
    }

    #biography_main {
        background-image: url(untitled.png) ;
        background-size: cover;
        background-repeat: no-repeat;
        padding-block: 5%;
    }

    #biography {
        box-shadow: -1px 2px 11px 3px #1E1E1E;
        background-color: #1E1E1E;
        height: 650px;
        margin: 0% 15% 0% 35%;
        border-radius: 35px;
        display: flex;
        color: white;
        width: 60%;
    }

    #projects {
        background-color: #1E1E1E;
        height: 100%;
        margin: 5% 7% 5% 7%;
        display: flex;
        color: white; 
        
    }

    #contacts {
        height: 650px;
        background-color: #1E1E1E;
        margin: 2% 7% 2% 7%;
        border-radius: 35px;
        display: flex;
        color: white;
    }

    #home {
        display: flex;
    }

    article {
        padding: 2%;
        position: relative;
        display: block;
    }
    #info_dop {
        background-color: rgb(190, 159, 188);
        border-radius: 30px;
        margin: 1% 5% 1% 5%;
        width: 20%;
        text-align: center;
        transition: all 1s ease-in-out;
    }

    #info_dop p {
        font-size: 20px;
    }

    #info_dop:hover {
        background-color: #2e2e2e;
    }

    .pro_box {
        padding: 1%;
    }

    .img_load {
        margin-inline: auto;
        height: 500px;
        width: 500px;
        background-color: #2e2e2e;
        background-image: url(1674349403_catherineasquithgallery-com-p-serii-fon-diskorda-foto-174.jpg);
        background-size: 500px;
    }

    .img_gif {
        border-radius: 30px;
        height: 250px;
        margin-bottom: 10%;

    }

    h2 {
        font-size: 45px;
    }
    

    #vk_av {
        position: absolute;
        height: 200px;
        border: 8px solid #1E1E1E;
        border-radius: 50%;
        display: block;
        top: 20%;
        left: 10%;
    }

    #waves_div {
        margin: 0%;
        padding: 0%;
        display: flex;
    }

    h1 {
        text-align: center;
        color: white;
        padding-block: 17%;
    }

    .waves {
        width: 100%;
        height: 15vh;

    }

    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    @keyframes headerLine {
        0% {
            margin-inline: 100%;

        }

        100% {
            margin-inline: 0%;

        }
    }